<!-- http://stackoverflow.com/questions/34534151/passing-data-to-components-in-vue-js -->
<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Drag n drop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="formTemp" class="col-md-10">
                <row-temp v-for="i in rows"></row-temp>
            </div>
            <div class="col-md-2">
                Html Components
            </div>
        </div>
    </div>

    <template id="rowTemp">
        <div class="col-md-12">
            <h3>RowTemp</h3>
            <row-comp v-for="n in sizes.length" :id="n" :size="sizes[n-1]" v-on:expand="updateExpanded" v-on:contract="updateContracted"></row-comp>
        </div>
    </template>

    <template id="rowComp">
        <div v-if="size.val > 0" v-bind:class="classSize">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    RowComp {{ id }}
                    <button v-if="size.showExpand" v-on:click="expand" class="pull-right btn btn-default">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                    <button v-on:click="contract" class="pull-right btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </button>
                </div>
                <div class="panel-body">Drag items here</div>
            </div>
        </div>
    </template>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
    <script>
        var rowcomp = {
            template: '#rowComp',
            props: ['id', 'size'],
            methods: {
                expand: function() {
                    this.size.val++;
                    this.$emit('expand', this.id);
                },
                contract: function() {
                    this.size.val--;
                    this.$emit('contract', this.id);
                }
            },
            computed: {
                classSize: function() {
                    return {
                        'col-md-4': this.size.val == 1,
                        'col-md-8': this.size.val == 2,
                        'col-md-12': this.size.val == 3
                    }
                }
            }
        };

        var rowtemp = {
            template: '#rowTemp',
            data: function() {
                return {
                    sizes: [
                        {val: 1, showExpand: true},
                        {val: 1, showExpand: true},
                        {val: 1, showExpand: false}
                    ]
                }
            },
            methods: {
                updateExpanded: function(id) {
                    if(this.sizes[id].val !== 0) {
                        this.sizes[id].val--;
                    } else {
                        this.sizes[id+1].val--;
                    }
                },
                updateContracted: function(id) {
                    if(this.sizes[id+1].val === 0 ) {
                        this.sizes[id+1].val++;
                    } else {
                        this.sizes[id].val++;
                    }
                }
            },
            components: {
                'row-comp': rowcomp
            }
        };

        new Vue({
            el: '#formTemp',
            data: {
                rows: 2
            },
            components: {
                'row-temp': rowtemp
            }
        });
    </script>
</body>
</html>