<!-- http://stackoverflow.com/questions/34534151/passing-data-to-components-in-vue-js -->
<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Drag n drop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div id="formTemp">
        <row-temp v-for="i in rows"></row-temp>
    </div>

    <template id="rowTemp">
        <div>
            <h3>RowTemp</h3>
            <row-comp v-for="n in placeholders" :id="n" :size="sizes[n-1]" :msg="msg" :test="test" v-on:expand="broadcastSizes"></row-comp>
        </div>
    </template>

    <template id="rowComp">
        <div v-if="tamanio > 0" v-on:click="expand">RowComp {{ test.comp1 }}</div>
    </template>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
    <script>
/*        Vue.component('row-comp', {
            template: '#rowComp'
        });

        Vue.component('row-temp', {
            template: '#rowTemp'
        });*/

        var rowcomp = {
            template: '#rowComp',
            props: ['id', 'size', 'msg', 'test'],
            data: function() {
                return {
                    tamanio: this.size
                };
            },
            methods: {
                expand: function() {
                    //this.tamanio++;
                    this.$emit('expand', this.id);
                },
                contract: function() {
                    this.tamanio--;
                }
            }
        };

        var rowtemp = {
            template: '#rowTemp',
            data: function() {
                return {
                    placeholders: 3,
                    sizes: [1, 2, 3],
                    msg: "Shit boy",
                    test: {
                        comp1: 1,
                        comp2: 2,
                        comp3: 3
                    }
                }
            },
            methods: {
                broadcastSizes: function(id) {
                    this.test.comp1 = 5;
                    //this.msg = id;
                    //console.log(id);

                    //this.sizes[id-1]++;
                    //this.$emit('contract', id);
                }
            },
            components: {
                'row-comp': rowcomp
            }
        };

        new Vue({
            el: '#formTemp',
            data: {
                rows: 2
            },
            components: {
                'row-temp': rowtemp
            }
        });
    </script>
</body>
</html>