<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Drag n drop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="modal.css">
    <style>
        .dragging {
            border: 1px dashed;
        }
    </style>
</head>
<body>
    <div class="container" id="formTemp">
        <div class="row">
            <div class="col-md-3 col-md-offset-6">
                <button class="btn btn-default" v-on:click="submit">Submit</button>
            </div>
        </div>
        <div class="row">
            <!--div id="formTemp" class="col-md-10"-->
            <div class="col-md-10">
                <row-temp v-for="i in rows" :id="i" :dragging="dragging" :send="send" v-on:addrow="addNewRow"></row-temp>
            </div>
            <div class="col-md-2">
                <input type="text" id="draggable-input-text" class="form-control" v-on:dragstart="drag" v-on:dragend="dragend" v-on:drop.prevent draggable="true">
                <input type="password" id="draggable-input-password" class="form-control" v-on:dragstart="drag" draggable="true">
                <select>
                    <option>1</option>
                    <option>2</option>
                </select>
                <label>Test</label>
            </div>
            <!--div class="col-md-2">
                Html Components
                <label id="draggable-label" class="form-control" draggable="true" ondragstart="drag(event, 'test')">Label</label>
                <input type="radio" id="draggable-input-radio" class="form-control" draggable="true" ondragstart="drag(event)" ondrop="event.preventDefault()">
                <input type="text" id="draggable-input-text" class="form-control" draggable="true" ondragstart="drag(event)" ondrop="event.preventDefault()">
                <input type="password" id="draggable-input-password" class="form-control" placeholder="Password" draggable="true" ondragstart="drag(event)" ondrop="event.preventDefault()">
                <textarea></textarea>
                <button id="draggable-button" class="btn btn-default" draggable="true" ondragstart="drag(event)">Button</button>
            </div-->
        </div>
    </div>

    <template id="rowTemp">
        <div class="col-md-12">
            <h3>RowTemp</h3>
            <row-comp v-for="n in sizes.length" :row="id" :send="send" :dragging="dragging" :id="n" :size="sizes[n-1]" :template="template" v-on:expand="updateExpanded" v-on:contract="updateContracted" v-on:drop="addRow"></row-comp>
        </div>
    </template>

    <template id="rowComp">
        <div v-if="size.val > 0" v-bind:class="classSize">
            <modal-comp v-if="showModal" :type="type" v-on:close="closeModal"></modal-comp>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    RowComp {{ id }}
                    <button v-if="showExpand()" v-on:click="expand" class="pull-right btn btn-default">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                    <button v-if="showContract()" v-on:click="contract" class="pull-right btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </button>
                </div>
                <div class="panel-body" v-on:dragover="allowDrop" v-on:drop="drop" v-bind:class="{ dragging: dragging }">Drag items here</div>
            </div>
        </div>
    </template>

    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">

              <div class="modal-header">
                <slot name="header">
                  default header
                </slot>
              </div>

              <div class="modal-body">
                <slot name="body">
                  <div>
                    <input placeholder="label" v-model="label">
                    <span>Required</span>
                    <select v-model="required">
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                    <span>Disabled</span>
                    <select v-model="disabled">
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                  </div>
                </slot>
              </div>

              <div class="modal-footer">
                <slot name="footer">
                  default footer
                  <button class="modal-default-button" @click="close">
                    OK
                  </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
    <script>
        /*
        function drag(ev, data) {
            ev.dataTransfer.setData('text', ev.target.id);
            //ev.dataTransfer.setData('test', data);
        }
        */
        /*
        Vue.component('modal', {
            template: '#modal-template'
        });
        */

        var bus = new Vue({});

        var modalcomp = {
            template: '#modal-template',
            props: ['type'],
            data: function() {
                return {
                    label: '',
                    required: '',
                    disabled: ''
                }
            },
            methods: {
                close: function() {
                    data = {
                        label: this.label,
                        required: this.required === "Yes",
                        disabled: this.disabled === "Yes"
                    };
                    this.$emit('close', data);
                    console.log('closing modal');
                }
            }
        };

        var rowcomp = {
            template: '#rowComp',
            props: ['id', 'size', 'template', 'dragging', 'send', 'row'],
            data: function() {
                return {
                    empty: true,
                    showModal: false,
                    type: null,
                    element: null,
                    me: null
                }
            },
            methods: {
                expand: function() {
                    this.size.val++;
                    this.$emit('expand', this.id);
                },
                contract: function() {
                    this.size.val--;
                    this.$emit('contract', this.id);
                },
                showExpand: function() {
                    return (this.id === 1 && this.template < 3) ||
                        (this.id === 2 && this.template === 1);
                },
                showContract: function() {
                    return this.size.val > 1;
                },
                allowDrop: function(ev) {
                    ev.preventDefault();
                },
                drop: function(ev) {
                    ev.preventDefault();
                    //console.log(ev.dataTransfer.getData('test'));
                    if(this.empty) {
                        var id = ev.dataTransfer.getData('text');
                        var cln = document.getElementById(id).cloneNode();
                        this.type = cln.nodeName;
                        this.showModal = true;
                        //var cln = document.getElementById(id);
                        this.element = cln;
                        this.me = ev.target;
                        //ev.target.appendChild(cln);
                        //this.empty = false;
                        //this.$emit('drop');
                    }
                },
                closeModal: function(data) {
                    this.showModal = false;
                    console.log(data);
                    //Check for type and do the necessary things
                    this.element.placeholder = data.label;
                    this.me.appendChild(this.element);
                    this.empty = false;
                    this.$emit('drop');
                }
            },
            computed: {
                classSize: function() {
                    return {
                        'col-md-4': this.size.val == 1,
                        'col-md-8': this.size.val == 2,
                        'col-md-12': this.size.val == 3
                    }
                }
            },
            watch: {
                send: function() {
                    var d = {
                        row: this.row,
                        comp: this.id
                    };
                    bus.$emit('test', d);
                    //console.log(this.id);
                }
            },
            components: {
                'modal-comp': modalcomp
            }
        };

        var rowtemp = {
            template: '#rowTemp',
            props: ['dragging', 'send', 'id'],
            data: function() {
                return {
                    template: 1,
                    htmlAdded: 0,
                    sizes: [
                        {val: 1},
                        {val: 1},
                        {val: 1}
                    ]
                }
            },
            methods: {
                updateExpanded: function(id) {
                    if(id === 1 && this.template === 1) {
                        this.template = 2;
                    } else if (id === 1 && this.template === 2) {
                        this.template = 3;
                    } else if (id === 2) {
                        this.template = 4;
                    }
                    if(this.sizes[id].val !== 0) {
                        this.sizes[id].val--;
                    } else {
                        this.sizes[id+1].val--;
                    }
                },
                updateContracted: function(id) {
                    if(id === 1 && this.template === 2) {
                        this.template = 1;
                    } else if(id === 1 && this.template === 3) {
                        this.template = 2;
                    } else if(id === 2) {
                        this.template = 1;
                    }
                    if(id === 2) {
                        this.sizes[id].val++;
                    } else if(this.sizes[id+1].val === 0 ) {
                        this.sizes[id+1].val++;
                    } else {
                        this.sizes[id].val++;
                    }
                },
                addRow: function() {
                    //console.log("Dropped something");
                    this.htmlAdded++;
                    if(this.htmlAdded === 1) {
                        //console.log("Need to add a new row");
                        this.$emit('addrow');
                    }
                }
            },
            components: {
                'row-comp': rowcomp
            }
        };

        new Vue({
            el: '#formTemp',
            data: {
                rows: 1,
                dragging: false,
                send: false,
                ajaxArray: []
            },
            components: {
                'row-temp': rowtemp
            },
            methods: {
                addNewRow: function() {
                    this.rows++;
                },
                drag: function(ev, data) {
                    //ev.preventDefault();
                    console.log('Dragging');
                    ev.dataTransfer.setData('text', ev.target.id);
                    this.dragging = true;
                },
                dragend: function() {
                    this.dragging = false;
                },
                submit: function() {
                    console.log('Submitting data');
                    this.send = true;
                    //this.$broadcast('test');
                },
                receive: function(d) {
                    console.log(d.row + '-' + d.comp);
                }
            },
            created: function() {
                var that = this;
                bus.$on('test', function(d) {
                    if(that.ajaxArray[d.row]) {
                        that.ajaxArray[d.row][d.comp] = 'info';
                    } else {
                        that.ajaxArray
                    }
                });
            }
        });
    </script>
</body>
</html>